/.phpunit.cache
/vendor/
/node_modules/

/public/build/
/public/hot/

/storage/*
!/storage/.gitignore
!/storage/app/
!/storage/app/.gitignore
!/storage/framework/
!/storage/framework/.gitignore
!/storage/framework/cache/
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/
!/storage/framework/sessions/.gitignore
!/storage/framework/testing/
!/storage/framework/testing/.gitignore
!/storage/framework/views/
!/storage/framework/views/.gitignore
!/storage/logs/
!/storage/logs/.gitignore

/bootstrap/cache/*
!/bootstrap/cache/.gitignore

.env
.env.backup
.env.production

.phpunit.result.cache

Homestead.json
Homestead.yaml
auth.json

npm-debug.log
yarn-debug.log
yarn-error.log

/storage/logs/laravel.log
/storage/framework/views/*.php
/storage/framework/sessions/*